**/node_modules/
**/dist/

.env
# client/.env
client/.env.local
client/.env.development
client/.env.production
server/.env
server/.env.prod

client/.next/

server/.serverless

.DS_Store
Thumbs.db

.vscode/

server/shared-local-instance.db
server/dynamodb-local-metadata.json
shared-local-instance.db

# typescript
*.tsbuildinfo
next-env.d.ts